sqlalchemy>=2.0.0
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
python-jose[cryptography]
python-dotenv
pika
numpy
scikit-learn
joblib
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9