sqlalchemy>=2.0.0
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
python-jose[cryptography]
python-dotenv
pika
numpy
scikit-learn
joblib
python-multipart